@-moz-keyframes animacao-abertura {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animacao-abertura {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes animacao-abertura {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animacao-abertura {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  border: none;
}

input:focus {
  border-color: yellow;
}

textarea {
  min-height: 40px;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.modal {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  animation-name: animacao-abertura;
  animation-duration: 0.3s;
}

form {
  position: relative;
  z-index: 2;
}